body{
    background-color: #000000;
    margin-top: 0px;
    padding: 0;
    box-sizing: border-box;
    /*width: 100%;
    height: 100%;*/
}
.memeb{
    margin-top: 10px;
    display: flex;
    color: #e9e9e8;
    
}
.kitten{
    width: 7%;
    height: 7%;
    margin-left: 60px;
    margin-right: 50px;

}
.menu{
    display: flex;
    list-style: none;
    font-family: acumin-pro", "Acumin Pro", "Helvetica Neue";
}
.li1{
    padding-left: 500px;
    
}
.li2{
    padding-left: 15px;
}
.li3{
    padding-left: 15px;
}
.li4{
    padding-left: 15px;
}
.li5{
    padding-left: 15px;
}
.li6{
    padding-left: 15px;
}
.li7{
    text-align: center;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    /*width: 10%;
    height: 100%;*/
    background-color: #eaab01;
    border-radius: 20px;
    font-size: 0.65vw;
}
.section1{
    margin-top: 80px;
    display: flex;
}
.sec1text{
    margin-left: 80px;
}
.text1{
    color: #ffffff;
    font-size: 3vw;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text2{
    color: #eaab01;
    font-size: 2.8vw;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text3{
    color: #ffffff;
    font-size: 1.5vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text4{
    color: #ffffff;
    font-size: 1vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.kitten2{
    margin-left: 250px;
    width: 45%;

}
.lii{
    color: #e9e9e8;
    margin-top: 50px;
}
.ul2{
    list-style: none;
    display: flex;
}
.tel{
    background-color: #eaab01;
    border-radius: 50px;
    font-size: 1vw;
    margin-right: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom:10px;
}
.dex{
    background-color: #eaab01;
    border-radius: 50px;
    font-size: 1vw;
    margin-right: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.x{
    background-color: #eaab01;
    border-radius: 50px;
    font-size: 1vw;
    margin-right: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.section2{
    margin-top: 100px;
}
.sec2text1{
    color: #eaab01;
    margin-left: 500px;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sec2text2{
    color: #ffffff;
    margin-left: 450px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vw;
    margin-top: 10px;
}
.line{
    border-radius: 25px;
    width: 8%;
    height: 3%;
    margin-left: 550px;
    background-color: #a0bbd7;
    margin-top: 15px;
}
.dot{
    border-radius: 50px;
    width: 7px;
    height: 7px;
    background-color: #eaab01;
    margin-left: 50px;
    margin-bottom: 100px;
}
.section3{
    margin-top: 80px;
    display: flex;
    margin-left: 80px;
}
.bit1{
    background-color: #ffffff;
    border-radius: 5px;
    height: 470px;
    width: 370px;
}
.imgbit3{
    width: 80%;
}
.pbit3a{
    color: #070706;
    font-weight: bolder;
    text-align: center;
}
.pbit3b{
    color: #bab9ba;
    text-align: center;
}

.bit2{
    background-color:#f9a333;
    border-radius: 5px;
    height: 470px;
    width: 370px;
    margin-left: 20px;
}
.imgbit1{
    margin-left: 60px;
    margin-top: 20px;
}
.pbit3c{
    color: #fefefe;
    text-align: center;
    margin-top: 50px;
}
.pbit3d{
    color: #fefefe;
    text-align: center
}
.bit3{
    background-color: #ffffff;
    border-radius: 5px;
    height: 470px;
    width: 370px;
    margin-left: 20px;
}
.imgbit2{
    margin-top: 50px;
}
.curve2{
    background-color: #f9a333;
    border-bottom-right-radius: 20px;
    width: 10%;
    height: 10%;
    float: left;
}
.curve1{
    background-color: #f9a333;
    border-bottom-right-radius: 20px;
    width: 10%;
    height: 10%;
    float: left;
}
.pbit3e{
    margin-top: 70px;
    color: #070706;
    font-weight: bolder;
    text-align: center;
}
.pbit3f{
    color: #bab9ba;
    text-align: center;
}
.section4{
    margin-top: 100px;
    display: flex;
    margin-left: 80px;
}
.sec4b{
    margin-left: 30px;
    margin-right: 100px;
}
.pi{
    color: #ecaa06;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vw;
}
.pii{
    color: #e9e9e8;
    font-size: 1.5vw;
}
.section5{
    margin-top: 100px;
}
.sec5i{
    margin-left: 500px;
}
.psec5i{
    color: #a87904;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
}
.span1{
    color:#fefefe ;
    font-size: 2vw;
    font-weight: bolder;
}
.span2{
    color: #eaab01;
    font-size: 2vw;
    font-weight: bolder;
}
.border2{
    border-radius: 25px;
    width: 8%;
    height: 1%;
    margin-left: 50px;
    background-color: #a0bbd7;
    margin-top: 15px;
}
.dot2{
    border-radius: 50px;
    width: 7px;
    height: 7px;
    background-color: #eaab01;
    margin-left: 10px;
    margin-bottom: 100px;
}
.sec5ii{
    display: flex;
}
.sec5a{
}
.sec5img{
    width: 10%;
    height: 40%;
    margin-left: 300px;
}
.sec5b{}
.sec5imgb{
    width: 40%;
    height: 40%;
    margin-right: 50px;
}
.sec5c{}
.sec5imgc{
    width: 40%;
    height: 50%;
    
}
